.headerContent{
  border: 6px solid rgb(139, 31, 31);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 3px 5px 10px;
}

.headerContent__right {
  display: flex;
  margin: 20px;
}

.headerImg {
  width: 100px;
  height: 50px;
}